body {
    text-align: center;
    font-family: arial;
    background: linear-gradient(#c31432, #240b36);
    margin: 2px;
}

#section1 {
    background: linear-gradient(#ff9a9e 0%, #fecfef 99%, #fecfef 100%);
    overflow: hidden;
}

#books {
    height: 150px;
}

#hp {
    background: linear-gradient(#2193b0, #6dd5ed);
}

#harry {
    height: 300px;
}

#lw {
    background: linear-gradient(#de6262, #ffb88c);
}

#women {
    height: 400px;
}

#gs {
    background: linear-gradient(#eacda3, #d6ae7b);
}

#stiltons {
    height: 300px;
}

.menu {
    list-style: none;
    top: 0px;
    position: fixed;
    z-index: 10;
    cursor: pointer;
    text-align: center;
    margin-top: 0px;
    background-color: #fed8b1;
}

.links {
    float: left;
    color: white;
    padding-left: 9px;
    padding-right: 9px;
    font-size: 20px;
}

.links:hover {
    background: radial-gradient(#43cea2, #185a9d);
    font-size: 30px;
}

#character {
    background: linear-gradient(#d66d75, #e29587)
}

#reviews {
    background: linear-gradient(#ddd6f3, #faaca8)
}
#me {
    color: white;
}
.article {
    font-size: 20px;
}
